.organ-options-button {
  border: 1px solid white;
  border-radius: 6px;
  margin: 10px;
  text-align: center;
  color: lightgreen;
  font-weight: bold;
  background: black;
  height: 20px;
}

.wave-button {
  margin-left: 30px;
  width: 90px;
}

.chorus-button {
  width: 116px;
}

.octave-button {
  padding: 0 3px;
}

.octave {
  display: inline-block;
  background: lightgreen;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0 5px;
  width: 105px;
  text-align: center;
}
