html, body, ul, li, div, p, h1, h3, button {
  font-style: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: inherit;
  font: inherit;
  background: transparent;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background:
    linear-gradient(
      to right,
      rgba(179,220,237,1) 0%,
      rgba(41,184,229,1) 50%,
      rgba(188,224,238,1) 100%
    );
  font-family: courier;
  color: green;
}

.group:after {
  content: '';
  display: block;
  clear: both;
}

h3 {
  margin: auto;
  text-align: center;
  color: black;
  font-size: 24px;
}

.key {
  margin-top: 9px;
  float: left;
  width: 70px;
  border: 1px solid black;
  box-sizing: border-box;
  height: 200px;
  background: white;
  text-align: center;
}

.black {
  height: 150px;
  background: black;
  width: 50px;
  left: 70px;
  transform: translateX(-50%);
  position: absolute;
  color: white;
}

._1 {
  left: 70px;
}

._3 {
  left: 140px;
}

._6 {
  left: 280px;
}

._8 {
  left: 350px;
}

._10 {
  left: 420px;
}

.organ {
  display: block;
  margin: auto;
  height: 250px;
  width: 620px;
  background: red;
  border: 2px solid black;
  border-radius: 5px;
}

.keys {
  margin: auto;
  width: 560px;
  position: relative;
}

.pressed {
  background: rgb(51, 242, 111);
}

h1 {
  text-align: center;
  margin: 20px;
  font-size: 46px;
  font-weight: bold;
}
